<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>repngfile/bambam1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1819}, {38, 39}}</string>
			<key>offset</key>
			<string>{-5, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{326, 353}, {38, 39}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1363, 1321}, {671, 697}}</string>
			<key>offset</key>
			<string>{14, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 14}, {671, 697}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1758}, {59, 57}}</string>
			<key>offset</key>
			<string>{-5, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{315, 344}, {59, 57}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1661}, {95, 94}}</string>
			<key>offset</key>
			<string>{-5, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{297, 325}, {95, 94}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1507}, {151, 152}}</string>
			<key>offset</key>
			<string>{-5, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{269, 295}, {151, 152}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam5.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 1321}, {658, 706}}</string>
			<key>offset</key>
			<string>{7, 20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 4}, {658, 706}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam6.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 1}, {658, 706}}</string>
			<key>offset</key>
			<string>{7, 20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28, 4}, {658, 706}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam7.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 661}, {658, 706}}</string>
			<key>offset</key>
			<string>{7, 20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28, 4}, {658, 706}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 754}, {700, 751}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {700, 751}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
		<key>repngfile/bambam9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {700, 751}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {700, 751}}</string>
			<key>sourceSize</key>
			<string>{700, 754}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>repngfile.png</string>
	</dict>
</dict>
</plist>
